<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buhos Marquetería & Galería</title>

    <link rel ="shortcut icon" href="Assets/images/uploads/icon.gif" sizes="32x32" type="image/png">
    <script src="https://kit.fontawesome.com/3207833fba.js" crossorigin="anonymous"></script>
    <!--Resources styles-->
    <link rel="stylesheet" href="Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/simple-lightbox.min.css">
    <!-- My css -->
    <link rel="stylesheet" href="Assets/css/style.css">
</head>
<body>
   <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="Assets/images/uploads/icon.gif" alt="Logo">
                <p><strong>Buho's</strong></p>
                <p><strong>Marquetería & Galería</strong></p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catálogo
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Marquetería</a></li>
                            <li><a class="dropdown-item" href="#">Galería</a></li>
                            <li><a class="dropdown-item" href="#">Trabajos realizados</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> (0)</a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
   </header> 
    <main>
       <section>
        <div class="container mt-4" >
          <div class="container mt-4">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Catálogo</a></li>
                <li class="breadcrumb-item"><a href="#">Galería</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cuadro 1</li>
              </ol>
            </nav>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-5">
              <div class="product_left mt-4">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://static6.depositphotos.com/1005951/668/i/600/depositphotos_6680857-stock-photo-wood-star.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://static6.depositphotos.com/1005951/668/i/600/depositphotos_6680857-stock-photo-wood-star.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://static6.depositphotos.com/1005951/668/i/600/depositphotos_6680857-stock-photo-wood-star.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-5">
              <div class="product_right mt-4">
                <div class="product_info">
                  <h1 class="position-relative underline"><strong>Cuadro 1</strong></h1>
                  <p class="mt-4 fs-5"><strong>Precio:</strong> $100.000</p>
                  <h2>Descripcion</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde optio soluta? Fugiat illum fugit a pariatur omnis temporibus adipisci, voluptatem, distinctio expedita inventore accusamus, magnam eaque nihil provident placeat?</p>
                  <ul>
                    <li><i class="fas fa-check-circle text-success"></i>Categoria:<span>Abstracto</span></li>
                    <li><i class="fas fa-check-circle text-success"></i>Técnica:<span>Acrílico</span></li>
                    <li><i class="fas fa-check-circle text-success"></i>Dimensiones:<span>20cm x 20cm</span></li>
                    <li><i class="fas fa-times-circle text-danger"></i></i>Envio:<span>A todo el país</span></li>
                  </ul>
                </div>
                <div class="product_social">
                  <p><strong>Compartir en:</strong></p>
                  <ul>
                    <li><a href="" title="Compartir en facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="" title="Compartir en instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="" title="Compartir en twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="" title="Compartir en linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="" title="Compartir en whatsapp"><i class="fab fa-whatsapp"></i></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-lg-6 order-lg-1 order-md-5 order-sm-5">
                <div class="accordion pt-4" id="accordionExample">
                    <p><strong>Información adicional de medidas y entrega</strong></p>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Tiempos de producción
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            3 a 4 días hábiles después de confirmado el pago y las medidas, si tienes alguna solicitud con algún producto en especial, háznoslo saber para que podamos confirmarte si podemos entregarte antes.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Tiempos de entrega
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            Realizamos envíos directos en Villavicencio. Para zonas no cubiertas, realizamos envíos con diferentes transportadoras del país, buscando siempre la mejor opción para nuestros clientes, los tiempos pueden variar desde 1 día hábil hasta 5 días hábiles según la ciudad o municipio destino, normalmente en ciudades principales las transportadoras entregan máximo en 3 días hábiles.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-5 order-md-1 order-sm-1 ">
              <div class="product_purchase flex-column align-items-center">
                <div class="d-flex align-items-center pr-2">
                  <div id="btn_decrement" class="btnHover">-</div>
                  <input type="number" value="1">
                  <div id="btn_increment" class="btnHover">+</div>
                </div>
                <button type="button" class="btn_content">Agregar</button>
              </div>
            </div>
          </div>
    </div>
        </div>
       </section>
       <section>
        <div class="container text-center mt-5 cover_presentation">
          <h2><strong>También te puede interesar</strong></h2>
        </div>
        <div id="carouselframe" class="carousel slide product_slider" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="catalog">
                <div class="catalog_product shadow p-3 mb-5 bg-body rounded">
                  <div class="catalog_product_image">
                    <img src="https://i.pinimg.com/550x/8a/19/01/8a19014d8ead6055f7da6fa175ea7655.jpg" alt="">
                    <a href="" class="btn_content">Ver más</a>
                  </div>
                  <div class="catalog_product_text">
                    <a href=""><h2><strong>Título</strong></h2></a>
                    <h3>Abstracto</h3>
                    <p>$100.000</p>
                  </div>
                </div>
                <div class="catalog_product shadow p-3 mb-5 bg-body rounded">
                  <div class="catalog_product_image">
                    <img src="https://i.pinimg.com/550x/8a/19/01/8a19014d8ead6055f7da6fa175ea7655.jpg" alt="">
                    <a href="" class="btn_content">Ver más</a>
                  </div>
                  <div class="catalog_product_text">
                    <a href=""><h2><strong>Título</strong></h2></a>
                    <h3>Abstracto</h3>
                    <p>$100.000</p>
                  </div>
                </div>
                <div class="catalog_product shadow p-3 mb-5 bg-body rounded">
                  <div class="catalog_product_image">
                    <img src="https://i.pinimg.com/550x/8a/19/01/8a19014d8ead6055f7da6fa175ea7655.jpg" alt="">
                    <a href="" class="btn_content">Ver más</a>
                  </div>
                  <div class="catalog_product_text">
                    <a href=""><h2><strong>Título</strong></h2></a>
                    <h3>Abstracto</h3>
                    <p>$100.000</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="catalog">
                <div class="catalog_product shadow p-3 mb-5 bg-body rounded">
                  <div class="catalog_product_image">
                    <img src="https://i.pinimg.com/550x/8a/19/01/8a19014d8ead6055f7da6fa175ea7655.jpg" alt="">
                    <a href="" class="btn_content">Ver más</a>
                  </div>
                  <div class="catalog_product_text">
                    <a href=""><h2><strong>Título</strong></h2></a>
                    <h3>Abstracto</h3>
                    <p>$100.000</p>
                  </div>
                </div>
                <div class="catalog_product shadow p-3 mb-5 bg-body rounded">
                  <div class="catalog_product_image">
                    <img src="https://i.pinimg.com/550x/8a/19/01/8a19014d8ead6055f7da6fa175ea7655.jpg" alt="">
                    <a href="" class="btn_content">Ver más</a>
                  </div>
                  <div class="catalog_product_text">
                    <a href=""><h2><strong>Título</strong></h2></a>
                    <h3>Abstracto</h3>
                    <p>$100.000</p>
                  </div>
                </div>
                <div class="catalog_product shadow p-3 mb-5 bg-body rounded">
                  <div class="catalog_product_image">
                    <img src="https://i.pinimg.com/550x/8a/19/01/8a19014d8ead6055f7da6fa175ea7655.jpg" alt="">
                    <a href="" class="btn_content">Ver más</a>
                  </div>
                  <div class="catalog_product_text">
                    <a href=""><h2><strong>Título</strong></h2></a>
                    <h3>Abstracto</h3>
                    <p>$100.000</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="catalog">
                <div class="catalog_product shadow p-3 mb-5 bg-body rounded">
                  <div class="catalog_product_image">
                    <img src="https://i.pinimg.com/550x/8a/19/01/8a19014d8ead6055f7da6fa175ea7655.jpg" alt="">
                    <a href="" class="btn_content">Ver más</a>
                  </div>
                  <div class="catalog_product_text">
                    <a href=""><h2><strong>Título</strong></h2></a>
                    <h3>Abstracto</h3>
                    <p>$100.000</p>
                  </div>
                </div>
                <div class="catalog_product shadow p-3 mb-5 bg-body rounded">
                  <div class="catalog_product_image">
                    <img src="https://i.pinimg.com/550x/8a/19/01/8a19014d8ead6055f7da6fa175ea7655.jpg" alt="">
                    <a href="" class="btn_content">Ver más</a>
                  </div>
                  <div class="catalog_product_text">
                    <a href=""><h2><strong>Título</strong></h2></a>
                    <h3>Abstracto</h3>
                    <p>$100.000</p>
                  </div>
                </div>
                <div class="catalog_product shadow p-3 mb-5 bg-body rounded">
                  <div class="catalog_product_image">
                    <img src="https://i.pinimg.com/550x/8a/19/01/8a19014d8ead6055f7da6fa175ea7655.jpg" alt="">
                    <a href="" class="btn_content">Ver más</a>
                  </div>
                  <div class="catalog_product_text">
                    <a href=""><h2><strong>Título</strong></h2></a>
                    <h3>Abstracto</h3>
                    <p>$100.000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselframe" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#ccarouselframe" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
       </section>
       
    </main>
    <footer class="bg-light">
      <div class="container footer ">
          <div class="row text-center">
              <div class="col-lg-4 footer_description">
                  <a href="">
                      <img src="Assets/images/uploads/icon.gif" alt="Logo">
                      <h5><strong>Buho's</strong></h5>
                      <h5><strong>Marquetería & Galería</strong></h5>
                  </a>
                  <p>Marquetería tradicional y Moderna para diplomas, fotografías, afiches, retablos, espejos y obras de arte. Venta de todo tipo de obra sobre lienzo.</p>
              </div>
              <div class="col-lg-4 footer_social mt-4">
                  <h5 class="position-relative underline"><strong>Nuestras redes</strong></h5>
                  <ul>
                      <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      <li><a href=""><i class="fab fa-whatsapp"></i></i></a></li>
                  </ul>
              </div>
              <div class="col-lg-4 footer_map mt-4">
                  <h5 class="position-relative underline"><strong>Empresa</strong></h5>
                  <ul>
                      <li><a href="">Inicio</a></li>
                      <li><a href="">Nosotros</a></li>
                      <li><a href="">Catálogo</a></li>
                      <li><a href="">Servicios</a></li>
                      <li><a href="">Contacto</a></li>
                  </ul>
              </div>
              <div class="col-lg-12 footer_legal p-4">
                  <a href="">Politica de privacidad - Política de Cookies</a>
                  <p>Copyright 2022 / Buho's Marquetería & Galería - Todos los derechos reservados</p>
              </div>
          </div>
      </div>
    </footer>

    <!--Frameworks/plugins-->
    <script src="Assets/js/jquery-3.6.0.min.js"></script>
    <script src="Assets/js/popper.min.js"></script>
    <script src="Assets/js/bootstrap.min.js"></script>
    <script src="Assets/js/simple-lightbox.min.js"></script>
    

    <!--My functions-->
    <script src="Assets/js/functions.js"></script>
</body>

</html>