.tmobilefoot{
    display: none;
}
.items{
    td{
        text-align: start;
    }
}
@import "components/item","components/mailbox","components/util","components/variable","components/mediaqueries","components/util"; 
@import "components/form";
.ui-datepicker-calendar{
    display: none;
}
