
html{
    scroll-behavior: smooth;
}
/***********************************************PageProduct*******************************************************/
.uploadImg{
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;
}
.uploadImg img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: 50% 50%;
}
.uploadImg label a{
    color:rgb(255, 255, 255);
}
.uploadImg label{
    display: none;
}
.uploadImg:hover label{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: 4px dashed #0205b8;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    z-index: 100;
    cursor: pointer;
}
.item{
    position: relative;
}
.item_list .row{
    position: relative;
}
.item_list p{
    margin: 0;
    word-break: break-all;
}
.item_list ul{
    list-style: none;
    padding: 0;
}
.item_list .btn{
    height: 30px;
    padding: 0;
    margin: 2px 0;
}
.item_list .col-md-3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.item_list .col-md-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_list img{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    padding: 5px;
}
.item_list .item_color{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    padding: 5px; 
    border: 1px solid #000;
}
.scroll_list{
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 70vh;
}
/***********************************************Modal*******************************************************/
td{
    word-break: break-all;
    width: 100px;
}
.modal_img{
    width: 200px;
    height: 200px;
}
.modal_img img{
    width: 100%;
    height: 100%;
}
/***********************************************Format*******************************************************/
.format__decoration{
    background-color: #E05A10;
    height: 25px;
    width: 100%;
}
.format__info__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
    flex-wrap: wrap;
}
.format__info__logo img{
    width: 100px;
    height: 100px;
}
.format__info__logo ul{
    word-break: break-all;
    list-style: none;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 0;
    width: 250px;
}
.format__info__data{
    text-align: center;
    padding: 10px 20px;
    margin: 0;
}
.format__info__data p{
    margin: 0;
}
.format__customer__data p{
    margin: 0;
}
/***********************************************Media query*******************************************************/

@media screen and (max-width: 1400px) {
    .item_form{
        width: 100%;
        margin-right:0;
    }
    .item_list{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .item_list img{
        height:200px;
        width: 100%;
        border-radius: 0;
    }

    .item_list .item_color{
        height:200px;
        width: 100%;
        border-radius: 0;
    }
}
@media screen and (max-width: 576px){
    .format__customer__order{
        font-size: 10px;
    }
}

