@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 576px){
    .tmobilefoot{
        display: block;
    }
    .tdeskfoot{
        display: none;
    }
    thead{
        display: none;
    }
    .items{
        td{
            ul{
                list-style: none;
                padding: 0;
                
            }
            text-align: end;
            display: block;
            position: relative;
            &::after{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0,-50%);
                content:attr(data-label);
                color: #000;
            }
            &:nth-last-of-type(1){
                text-align: center;
            }
        }
    }
}