@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 576px){
    thead{
        display: none;
    }
    td{
        text-align: end;
        display: block;
        position: relative;
        &::after{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0,-50%);
            content:attr(data-label);
            color: #000;
        }
    }
}