


@import "components/mixin";
@import "components/buttons";
@import "components/cards";
@import "components/utilities";
@import "components/header";
@import "components/login";
@import "components/home";
@import "components/loading";
@import "components/frame";
@import "components/about";
@import "components/service";
@import "components/shop";
@import "components/cart";
@import "components/footer";
@import "components/mediaqueries";

.form-select{
    border:none; 
    &:focus{
        outline: none;
        box-shadow: 0 .5rem 1rem rgba($color1,.15)!important;
        border:none; 
    }
}
.form-control{
    border:none; 
    &:focus{
        outline: none;
        box-shadow: 0 .5rem 1rem rgba($color1,.15)!important;
        border:none; 
    }
}
.toast-container{
    z-index: 9999;
}
a{
    text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
.accordion-item {
    background-color: #fff;
    border: none;
}
.accordion-button{
    padding: 10px;
}
.accordion-body{
    padding: 5px 0 5px 5px;
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: #000;
      }
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #FFF;
    box-shadow: none;
}
.accordion-button:focus {
    border: none;
    box-shadow: none;
    color:$color1;
}
.list-group-item {
    border: none;
}
.accordion-header{
    position: relative;
    a{
        font-size: 16px;
        padding: 10px;
        position: absolute;
        top:50%;
        left:0;
        transform: translateY(-50%);
        z-index: 3;
    }
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}