.btn-bg-1{
    background-color: $color1;
    color:$color4;
    text-decoration: none;
    border-radius: 10px;
    &:hover{
        color:$color4
    }
    a{
        text-decoration: none;
        color:$color4;
    }
}
.btn-bg-2{
    background-color: $color2;
    color:$color4;
    text-decoration: none;
    border-radius: 10px;
    &:hover{
        color:$color4
    }
    a{
        text-decoration: none;
        color:$color4;
    }
}
.btn-bg-4{
    background-color: $color4;
    color:$color2;
    text-decoration: none;
    border-radius: 10px;
    &:hover{
        color:$color2
    }
    a{
        text-decoration: none;
        color:$color2;
    }
}
.back--top{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    padding: 15px 20px;
    background-color: $color1;
    color:$color4;
    border-radius: 50%;
    z-index: 50;
    &:hover{
        color:$color4;
    }
    i{
        transform: rotate(90deg);
    }
}
.social{
    list-style: none;
    display: flex;
    gap:10px;
    margin: 0;
    padding: 0;
    li{
        height: 40px;
        width: 40px;
        border-radius: 10px;
        border: 1px solid $color4;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            color:$color4;
            i{
                font-size: 20px;
            }
        }
    }
}
.social--dark{
    li{
        border: 1px solid $color2;
        background-color: $color2;
    }
}